body {
  overflow-x: hidden;
}

.slide-in-bottom {
  position: relative;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.5s ease;
}

.slide-in-bottom.active {
  transform: translateX(0);
  opacity: 1;
}

.drop-from-top {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.5s ease;
}

.drop-from-top.active {
  transform: translateY(0);
  opacity: 1;
  border-left: solid;
  border-right: solid;
}

.slide-in-right {
  position: relative;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.5s ease;
}

.slide-in-right.active {
  transform: translateX(0);
  opacity: 1;
}
img {
  max-width: 100%;
  height: auto;
}
