{%extends "base.html"%} {%block about_me_page%}
<div>
  <div class="d-flex justify-content-center align-items-center button-flex">
    <button class="btn btn-dark pl-5">
      <a
        href="https://boothe0.github.io/PortfolioJuniorYear/"
        class="link-light"
      >
        A link to a portfolio of mine!
      </a>
    </button>
    <button class="btn btn-dark">
      <a href="/" class="link-light"> Button to Home! </a>
    </button>
  </div>
  <h1 class="text-white text-center">Hello!</h1>

  <div>
    <p class="text-white text-center">
      I am Elizabeth! Studying software engineering at Northern Arizona
      University. A couple things I enjoy doing are sketching, playing guitar
      and photography. I hope to add some fun into the internet with these
      projects showing the possibilities of what websites can be rather than
      what they currently are. Thank you for your time and I appreciate the
      interest!
    </p>
    <div class="d-flex justify-content-center align-items-center p-5">
      <img src="../static/images/mountains.jpg" class="nature p-2" />
      <img src="../static/images/sedona.jpg" class="nature p-2" />
    </div>
  </div>
</div>
{%endblock%}
