{%extends "base.html"%} {%block form%}

<form method="post" class="pb-5">
  <div class="form-group w-50 mx-auto">
    <label for="exampleInputEmail1" class="text-white">Email address</label>
    <input
      type="email"
      class="form-control email-input"
      id="exampleInputEmail1"
      name="email"
      aria-describedby="emailHelp"
      required
    />

    <label for="exampleInputPassword1" class="text-white">Password</label>
    <input
      type="password"
      name="password"
      class="form-control password-input"
      id="exampleInputPassword1"
      required
    />
    <label class="text-white">Display Name</label>
    <input
      type="display_name"
      name="display_name"
      class="form-control password-input"
      required
    />
    <button type="submit" class="submit-button btn btn-primary">Submit</button>
  </div>
</form>
<button class="btn btn-dark">
  <a href="/" class="link-light"> Go to Home</a>
</button>
{%endblock%}
