{%extends "base.html"%} {%block homepage%}
<div class="text-center pt-5">
  <div class="d-flex">
    <div class="align-self-start mr-auto ps-5">
      <button type="button" class="align-self-start btn btn-secondary">
        <a class="link-dark" href="/about"> About Author </a>
      </button>
    </div>
  </div>

  <h1 class="text-white">Disco Elysium</h1>
  <p style="color: #9f96b8">
    "No. This is somewhere to be. This is all you have, but it's still
    something. Streets and sodium lights. The sky, the world. You're still
    alive."
  </p>
</div>
<div class="container-fluid pt-5">
  <div class="row vh-100">
    <div
      class="col d-flex flex-column justify-content-center align-items-center slide-in-bottom h-100"
    >
      <div id="blog-posts" class="text-center h-100 w-100">
        <p class="fs-2 text-white">Blog Posts</p>
        <p class="fs-6 text-white">(Will be updated)</p>
        <div
          class="d-flex justify-content-center align-items-center position-relative w-100"
        >
          <div
            class="flip-card position-relative"
            style="width: 300px; height: 400px"
          >
            <div class="flip-card-inner position-relative w-100 h-100">
              <div class="empathy-front position-absolute w-100 h-100">
                <img
                  src="{{ url_for('static', filename='images/empathy.jpg') }}"
                  class="empathy-img img-fluid w-100 h-100 rounded"
                  onmouseover="flipped_empathy()"
                  style="object-fit: cover"
                />
              </div>
              <div
                class="empathy-back w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center bg-dark bg-opacity-75"
              >
                <p class="text-white m-3">
                  Empathy is a central ability in Disco Elysium. Contrary to the
                  assumption that empathy is primarily a positive trait, this
                  idea is challenged by calling into question the negative
                  effects that this skill could have on the player.
                </p>
                <a href="/empathy" class="text-light">For more click here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm drop-from-top">
      <div id="central-info">
        <p class="fs-2 text-center text-white">Welcome!</p>
        <p class="text-white text-center pt-5">
          A fan page for disco elysium to showcase artwork, blog posts, and have
          a hub for all things Disco Elysium.
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div id="artist's work" class="text-center text-white slide-in-right">
        <p class="fs-2">Artist's Work</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits0"
                target="_blank"
                href="https://www.pinterest.com/pin/862157922457429852"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits1"
                target="_blank"
                href="https://www.pinterest.com/pin/703756187759018"
              >
                Link to pintrest
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits2"
                target="_blank"
                href="https://www.pinterest.com/pin/7388786884168824"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits3"
                target="_blank"
                href="https://www.pinterest.com/pin/7388786884168820"
              >
                Link to pintrest
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits4"
                target="_blank"
                href="https://www.pinterest.com/pin/16114511159831608"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
