{%extends "base.html"%} {%block homepage%}
<div class="text-center pt-3">
  <div class="d-flex mobile-about-section">
    <div class="about-me-section p-2 d-flex flex-column">
      <a class="link-light about-me-link" href="/about"> About Author </a>
      <img
        class="align-self-start btn-custom-class"
        src="/static/images/stock_dice.png"
      />
    </div>
  </div>

  <h1 class="text-white title-font">Disco Elysium</h1>
  <p style="color: #9f96b8">
    "No. This is somewhere to be. This is all you have, but it's still
    something. Streets and sodium lights. The sky, the world. You're still
    alive."
  </p>
</div>
<div class="container-fluid pt-5">
  <div class="row vh-100">
    <div
      class="col d-flex flex-column justify-content-center align-items-center slide-in-bottom h-100"
    >
      <div id="blog-posts" class="text-center h-100 w-100">
        <p class="fs-2 text-white">Blog Posts</p>
        <p class="fs-6 text-white">(Will be updated)</p>
        <div
          class="d-flex justify-content-center align-items-center position-relative w-100"
        >
          <div
            class="flip-card position-relative"
            style="width: 300px; height: 400px"
          >
            <div class="flip-card-inner position-relative w-100 h-100">
              <div class="empathy-front position-absolute w-100 h-100">
                <img
                  src="{{ url_for('static', filename='images/empathy.jpg') }}"
                  class="empathy-img img-fluid w-100 h-100 rounded"
                  onmouseover="flipped_empathy()"
                  style="object-fit: cover"
                />
              </div>
              <div
                class="empathy-back w-100 h-100 d-flex flex-column justify-content-center align-items-center text-center bg-dark bg-opacity-75"
              >
                <p class="text-white m-3" style="font-size: 23px">
                  Empathy is a central ability in Disco Elysium. Contrary to the
                  assumption that empathy is primarily a positive trait, this
                  idea is challenged by calling into question the negative
                  effects that this skill could have on the player.
                </p>
                <a href="/empathy" class="empathy text-light"
                  >For more click here</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm drop-from-top">
      <div id="central-info">
        <p class="fs-2 text-center text-white">Welcome!</p>
        <p class="text-white text-center pt-5">
          A fan page for disco elysium to showcase artwork, blog posts, and have
          a hub for all things Disco Elysium.
        </p>
        <p class="text-white text-center">
          Disco Elysium was created in 2019 as a game without combat and only
          dialog choices to guide your playthrough. There are several emotions
          that serve as the skills of the main character, Harry Du Bois. Due to
          the nature of the game, it comes off as more of a book than a video
          game detering some from playing it through to the end. Even if you
          have never played it I aim to summarize some of the most meaningful
          themes and philosophies of the game. I also encourage you even if you
          have never played video games to try it out.
        </p>

        <ul class="text-white p-5">
          <li>"She thinks you are an idiot, sire."</li>
          <li>
            "That's the spirit! Never forget: The whole world's a wooden house
            and you're a goddamn flamethrower."
          </li>
          <li>"In the dark times, should the stars also go out?"</li>
          <li>
            "That we continue to persist at all is a testament to our faith in
            one another."
          </li>
        </ul>

        <p class="text-white text-center" style="font-size: 20px">
          (All art is not created by me and is to the credit of those on
          pintrest that I have linked below each image.)
        </p>
      </div>
    </div>
    <div class="col-sm">
      <div id="artist's work" class="text-center text-white slide-in-right">
        <p class="fs-2">Artist's Work</p>
        <div class="container">
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits0"
                target="_blank"
                href="https://www.pinterest.com/pin/862157922457429852"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits1"
                target="_blank"
                href="https://www.pinterest.com/pin/703756187759018"
              >
                Link to pintrest
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits2"
                target="_blank"
                href="https://www.pinterest.com/pin/7388786884168824"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits3"
                target="_blank"
                href="https://www.pinterest.com/pin/7388786884168820"
              >
                Link to pintrest
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <img class="rotating-pic" />
              <a
                class="link-secondary"
                id="artist-credits4"
                target="_blank"
                href="https://www.pinterest.com/pin/16114511159831608"
              >
                Link to pintrest
              </a>
            </div>
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
